{% extends 'base.html' %}
{% block content %}

<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000;
}

button {
    background-color: rgb(44, 60, 208);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}
.navbuttons {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 15px;
}

</style>

<div class="container">
    <h2>Log in</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>
    <div class="navbuttons">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
        <a href="{% url 'register' %}">Register</a>
    </div>
</div>

{% endblock %}