<!DOCTYPE html>
<html>
<head>
    <title>dataBase</title>
</head>
<body>
    <h1>List of Pitches</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Pitch Count</th>
                <th>Pitch Type</th>
                <th>Velo</th>
                <th>Result</th>
            </tr>
        </thead>
        {% for instance in pitchdata %}
            <tr>
                <td>{{ instance.pitch_count }}</td>
                <td>{{ instance.pitch_type }}</td>
                <td>{{ instance.velo }}</td>
                <td>{{ instance.result }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Submit Pitch Data</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enter Pitch" />
    </form>
</body>
</html>
